@font-face {
    font-family: Lobster;
    src: url('fonts/Lobster-Regular.ttf') format('truetype');
}

@font-face {
    font-family: HachiMaru;
    src: url('fonts/HachiMaruPop-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Dancing;
    src: url('fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Amatist;
    src: url('fonts/AmaticSC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Dosis;
    src: url('fonts/Dosis-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: #212121;
}

/* VOLATIL */

/* LINEA PARA GIT AGREGADA y editada */

/* linea nueva en segundo cambio de prueba */

/*  ESTA ES LA HOJA DE ESTILOS  ADEMAS DE LAS FUENTES*/

.navegacion {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    font-size: 18px;
    z-index: 60;
}

.logo {
    color: #dddddd;
    font-weight: 600;
    margin-left: 15px;
}

.logo-spn {
    font-family: HachiMaru;
    font-weight: 900;
    color: #FF6F00;
}

.logo-spn2 {
    color: #BF360C;
}

.navegacion-enjoy {
    color: #dddddd;
    font-weight: 400;
    font-family: Hachimaru;
}

.navegacion-enjoy span {
    color: #3E2723;
}

.hamb {
    background: rgba(62, 39, 35, 0.2);
    margin-right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0.5px solid #BDBDBD;
    /* CAMBIO NUEVO*/
}

.cont-hamb {
    position: relative;
    width: 50%;
    height: 5.5%;
    background: #3E2723;
    transition: all 0.2s;
    margin-top: 30%;
}

.cont-hamb::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3E2723;
    bottom: 600%;
    transition: all 0.1s;
}

.cont-hamb::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3E2723;
    top: -300%;
    transition: all 0.1s;
}

.hamb:hover .cont-hamb::after {
    transform: rotate(40deg);
}

.hamb:hover .cont-hamb::before {
    bottom: 300%;
    transform: rotate(-40deg);
}

/* -------SECTION1------- */

.section1 {
    min-height: 100vh;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../media/images/banner.jpg);
}

.section1load {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    animation: loadpg 1.2s linear;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes loadpg {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes loadpg2 {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    100% {
        opacity: 0.9s;
    }
}

.section1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.banner-feel{
    width: 50%;
    height: auto;
    border-bottom: 3px solid rgba(84, 110, 122, 0.25);
    display: flex;
    flex-direction: column;
}

.section1-feel {
    width: 700px;
    height: auto;
    font-family: Lobster;
    font-size: 6em;
    color: rgba(224, 224, 224, 1);
    animation: loadpg2 2.2s linear;
    opacity: 0.9;
}

.section1-descrip {
    width: 75%;
    font-family: Dosis;
    font-weight: 600;
    font-size: 25px;
    color: #B0BEC5;
}

/* -------------- */

.fond {
    display: flex;
    position: relative;
    border-top: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.menu-slogan {
    width: 99.7%;
    height: 8%;
    border: 0.5px solid #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(62, 39, 35, 0.5);
    position: relative;
}

.slogan-img {
    height: 80%;
    width: 18%;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    background: #212121;
    position: absolute;
    opacity: 50%;
    z-index: 10;
}

.slogan-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slogan-nombre {
    background: rgba(33, 33, 33, 0.6);
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: Hachimaru;
    font-weight: 700;
    clip-path: polygon(75% 0, 100% 0, 100% 100%, 50% 100%);
    animation: nombreanimation 6s linear infinite;
    position: relative;
}

@keyframes nombreanimation {
    0% {
        clip-path: polygon(75% 0, 100% 0, 100% 100%, 50% 100%);
    }
    30% {
        clip-path: polygon(75% 0, 100% 0, 100% 100%, 50% 100%);
    }
    40% {
        clip-path: polygon(0 0, 50% 0, 25% 100%, 0 100%);
    }
    60% {
        clip-path: polygon(0 0, 50% 0, 25% 100%, 0 100%);
    }
    70% {
        clip-path: polygon(75% 0, 100% 0, 100% 100%, 50% 100%);
    }
    100% {
        clip-path: polygon(75% 0, 100% 0, 100% 100%, 50% 100%);
    }
}

.leyenda {
    position: absolute;
    right: 0;
    bottom: 0;
}

.nombre-bee {
    color: #BF360C;
}

.menu {
    top: 1%;
    right: -300px;
    position: fixed;
    width: 18%;
    height: 95%;
    background: rgba(20, 16, 16, 0.5);
    border: 0.5px solid #212121;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 50;
    transition: all, 0.4s;
}

.menu-1, .menu-2 {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 25px;
    color: white;
}

.menu-2 a, .menu-1 a {
    width: 90%;
    border-bottom: 0.5px solid #212121;
    line-height: 1.8em;
    color: #BDBDBD;
    font-size: 18px;
    font-weight: 800;
}

/* -----SECTION2--------- */

.section2 {
    width: 100%;
    height: 100vh;
    background-image: url(../media/images/banner4.jpg);
}

.section2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(100px);
}

.container-carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 315px;
    border: 1px solid;
    background: #212121;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.container-carta::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.container-carta:hover img {
    opacity: 0.8;
    z-index: 20;
   width: 100%;
   height: 75%;
}

.container h1 {
    font-family: Lobster;
    width: 100%;
    font-weight: 300;
    text-align: center;
    color: #BDBDBD;
}

.container-carta img {
    object-fit: cover;
    width: 150%;
    height: 110%;
    border-radius: 5px;
    transition: all 0.4s;
}

.container-carta p {
    color: #BDBDBD;
    width: 100%;
    font-family: Lobster;
    font-weight: 900;
    text-align: center;
    z-index: 10;
}

/* -------------- */

/* ------SECTION3-------- */

.section3 {
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-image: url(../media/images/banner3.jpg);
}

.section3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.section3-info {
    position: relative;
    width: 50%;
    height: 45%;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 6px;
    transform: translateY(60px);
    overflow: hidden;

}

.section3-info::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -10;
}

.info-titulo {
    color: #b6b6b6;
    font-size: 28px;
    font-family: Dosis;
    text-align: center;
}

.info-descripcion {
    margin: 5% 0;
    color: #BDBDBD;
    font-size: 20px;
}

.info-btn-area {
    width: 100%;
    height: auto;
    align-items: center;
}

.info-btn {
    color: #212121;
    background: #BDBDBD;
    width: 18%;
    line-height: 1.8em;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    display: block;
    border: 2px solid #212121;
    border-radius: 20px;
    margin: 0 auto;
    transition: all 0.3s;
}

.info-btn:hover {
    color: #BDBDBD;
    border-color: #BDBDBD;
    background: #212121;
}

/* -------------- */

/* -------------- */

@media screen and (max-width: 800px) {
    .fond {
        background-attachment: local;
    }
    .section1-feel {
        font-size: 3em;
        width: 100%;
        text-align: center;
    }
    .navegacion {
        font-size: 20px;
    }
}